@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

body {
  margin: 0;
  font-family: "Abril Fatface", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
